DPM_ENV=production

POSTGRES_DB=dpm_crm
POSTGRES_USER=dpm_user
POSTGRES_PASSWORD=change_me_strong

PROD_DATABASE_URL=postgresql+psycopg2://dpm_user:change_me_strong@db:5432/dpm_crm

JWT_SECRET=change_me_strong
